<%- include('./adminParsels/head1.ejs') %>
    <%- include('./adminParsels/header.ejs') %>

        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order List </h2>
                    <p></p>
                </div>
                <div>
                    <input type="text" placeholder="Search order ID" class="form-control bg-white">
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header" style="display: none;">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" placeholder="Search..." class="form-control">
                        </div>
                        <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select">
                                <option>Status</option>
                                <option>Active</option>
                                <option>Disabled</option>
                                <option>Show all</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select">
                                <option>Show 20</option>
                                <option>Show 30</option>
                                <option>Show 40</option>
                            </select>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Products</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Delivery Status</th>
                                    <th scope="col">Payement Method</th>
                                    <th scope="col">Date</th>
                                    <th scope="col" class="text-end"> Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% orders.forEach(function(order) { %>

                                    <tr>
                                        <td>
                                            <%=order.orderId%>
                                        </td>
                                        <td><b>
                                                <%=order.UserName%>
                                            </b></td>
                                        <td>
                                            <% order.products.forEach(function(product) { %>
                                                <%=product.Name%><br>
                                                    <%})%>
                                        </td>
                                        <td><strong style="font-weight: bolder;">
                                                ₹ <%=order.amount.FinalAmount%>
                                            </strong></td>
                                        <td>
                                            <% switch (order.delivery_status) { case 'Pending' : %>
                                                <span class="badge rounded-pill alert-warning">Pending</span>
                                                <% break; case 'Cancelled' : %>
                                                    <span class="badge rounded-pill alert-danger">Canceled</span>
                                                    <% break; case 'Return' : %>
                                                        <span class="badge rounded-pill alert-danger">Return</span>
                                                        <% break; case 'Delivered' : %>
                                                            <span
                                                                class="badge rounded-pill alert-success">Delivered</span>
                                                            <% break; default: %>
                                                                <p>Error</p>
                                                                <% } %>
                                        </td>
                                        <td>
                                            <%=order.payment_option%>
                                        </td>
                                        <td>
                                            <%=order.orderDate%>
                                        </td>
                                        <td class="text-end">
                                            <a href="/admin/order/<%=order._id %>/<%=order.orderId %>"
                                                class="btn btn-md rounded font-sm">Detail</a>
                                            <div class="dropdown">
                                                <a href="#" data-bs-toggle="dropdown"
                                                    class="btn btn-light rounded btn-sm font-sm"> <i
                                                        class="material-icons md-more_horiz"></i> </a>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item"
                                                        href="/admin/cancelOrder/<%=order.orderId%>/<%=order.User%>/Delivered">Delivered</a>
                                                    <a class="dropdown-item"
                                                        href="/admin/cancelOrder/<%=order.orderId%>/<%=order.User%>/Pending">Pending</a>
                                                    <a class="dropdown-item text-danger"
                                                        href="/admin/cancelOrder/<%=order.orderId%>/<%=order.User%>/Cancelled">Cancel</a>
                                                </div>
                                            </div> <!-- dropdown //end -->
                                        </td>
                                    </tr>
                                    <%})%>

                            </tbody>
                        </table>
                    </div> <!-- table-responsive //end -->
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <div class="pagination-area mt-15 mb-50" style="display: none;">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i
                                    class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script data-cfasync="false"
                        src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                    <script>
                        document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
        </main>
        <%- include('./adminParsels/footerScript.ejs') %>