<%- include('./userParsels/head.ejs') %>
    <%- include('./userParsels/header.ejs') %>



        <section class="marginTop" class="mt-50 mb-50">
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="col-lg-9">
                        <div class="shop-product-fillter">
                            <div class="totall-product">
                                <p> We found <strong class="text-brand">
                                        <%= totalProducts%>
                                    </strong> items for you!</p>
                            </div>
                            <div class="sort-by-product-area">
                                <div class="sort-by-cover mr-10">


                                    <div class="sort-by-product-wrap" style="display: none;">
                                        <div class="sort-by">
                                            <span><i class="fi-rs-apps"></i>Show:</span>
                                        </div>
                                        <div class="sort-by-dropdown-wrap">
                                            <a class="nav-link" href="/shop"><span
                                                    class="lnr lnr-arrow-right"></span>All Products</a>
                                        </div>
                                    </div> <a class="nav-link" href="/shop"><span class="lnr lnr-arrow-right"></span>All
                                        Products</a>

                                    <div class="sort-by-dropdown" style="display: none;">
                                        <ul>
                                            <li><a class="active" href="#">50</a></li>
                                            <li><a href="#">100</a></li>
                                            <li><a href="#">150</a></li>
                                            <li><a href="#">200</a></li>
                                            <li><a href="#">All</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="sort-by-cover">
                                    <div class="sort-by-product-wrap">
                                        <div class="sort-by">
                                            <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
                                        </div>
                                        <div class="sort-by-dropdown-wrap">
                                            <span> Featured <i class="fi-rs-angle-small-down"></i></span>
                                        </div>
                                    </div>
                                    <div class="sort-by-dropdown">
                                        <ul>
                                            <li><a style="display: none;" class="" href="">Featured</a></li>
                                            <li><a class="active" href="/shop?sort=low_high">Price: Low to High</a></li>
                                            <li><a href="/shop?sort=high_low">Price: High to Low</a></li>
                                            <li><a class="active" style="display: none;" href="#">Release Date</a></li>
                                            <li><a style="display: none;" href="#">Avg. Rating</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row product-grid-3">
                            <% if(totalProducts !=0){%>
                                <% product.forEach(function(product) { %>
                                    <% if(product.isListed && (product.Stock!=0)){%>
                                        <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                                            <div class="product-cart-wrap mb-30">
                                                <div class="product-img-action-wrap">
                                                    <div class="product-img product-img-zoom">
                                                        <a href="/viewProduct/<%=product._id %>">
                                                            <img class="default-img"
                                                                src="/public/product/<%= product.Images[0] %>" alt="">
                                                            <img class="hover-img"
                                                                src="/public/product/<%= product.Images[1]%>" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="product-action-1">
                                                        <a aria-label="Quick view" style="display: none;"
                                                            class="action-btn hover-up" data-bs-toggle="modal"
                                                            data-bs-target="#quickViewModal">
                                                            <i class="fi-rs-search"></i></a>
                                                        <a aria-label="Add To Wishlist" <% if(user){%>
                                                            onclick="wishlistAction('<%=product._id %>')"
                                                                <%}else{%>
                                                                    onclick="loginSwal()" <%}%> class="action-btn
                                                                        hover-up"

                                                                        ><i class="fi-rs-heart"></i></a>
                                                        <a aria-label="Compare" style="display: none;"
                                                            class="action-btn hover-up"
                                                            href="/add-to-cart/<%=product._id %>"><i
                                                                class="fi-rs-shuffle"></i></a>
                                                    </div>
                                                    <% if(product.Price !=product.DiscountedPrice){%>
                                                        <div
                                                            class="product-badges product-badges-position product-badges-mrg">
                                                            <span class="hot">Sale</span>
                                                        </div>
                                                        <%}%>
                                                </div>
                                                <div class="product-content-wrap">
                                                    <div class="product-category">
                                                        <a href="/viewProduct/<%=product._id %>">
                                                            <%=product.SubCategory.Name%>
                                                        </a>
                                                    </div>

                                                    <h2><a href="/viewProduct/<%=product._id %>">
                                                            <%= product.Name%>
                                                        </a></h2>
                                                    <div class="rating-result" style="display: none;" title="90%">
                                                        <span>
                                                            <span>90%</span>
                                                        </span>
                                                    </div>
                                                    <div class="product-price">
                                                        <span>₹<%= product.DiscountedPrice%> </span>
                                                        <% if(product.Price !=product.DiscountedPrice){%>
                                                            <span class="old-price">₹<%= product.Price%></span>
                                                            <%}%>
                                                    </div>
                                                    <div class="product-action-1 show">
                                                        <a aria-label="Add To Cart" <% if(user){%>
                                                            onclick="cartAction('<%=product._id %>')"
                                                                <%}else{%>
                                                                    onclick="loginSwal()" <%}%> class="action-btn
                                                                        hover-up"
                                                                        ><i class="fi-rs-shopping-bag-add"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <%}%>
                                            <%})%>
                                                <%}else{%>
                                                    <div class="text-center">
                                                        <p
                                                            style="font-size: 150px; margin-bottom: 3em; margin-top: 1em;">
                                                            Empty..!</p>
                                                    </div>
                                                    <%}%>
                        </div>
                        <!--pagination-->
                        <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-start">



                                    <% if (currentPage>1){%>
                                        <li class="page-item active"><a class="page-link"
                                                href="/shop?page=<%= currentPage - 1 %>">01</a></li>
                                        <% }%>

                                            <% for (let i=1; i <=totalPages; i++) { %>
                                                <% if (i===currentPage) { %>

                                                    <li class="page-item"><a class="page-link"
                                                            href="/shop?page=<%= i %>">
                                                            <%= i %>
                                                        </a></li>
                                                    <% } else { %>
                                                        <li class="page-item"><a class="page-link"
                                                                href="/shop?page=<%= i %>">
                                                                <%= i %>
                                                            </a></li>
                                                        <% } %>
                                                            <% } %>


                                                                <% if (currentPage < totalPages) { %>

                                                                    <li class="page-item"><a class="page-link"
                                                                            href="/shop?page=<%= currentPage + 1 %>"><i
                                                                                class="fi-rs-angle-double-small-right"></i></a>
                                                                    </li>
                                                                    <% } %>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-3 primary-sidebar sticky-sidebar">
                        <div class="widget-category mb-30">
                            <h5 class=" style-1 mb-30 wow fadeIn animated widget-title mb-10">CATEGORY</h5>

                            <ul class="categories">
                                <% subCategory.forEach(function(sub) { %>

                                    <li><a href="/shop?filter=<%=sub._id%>">
                                            <%=sub.Name%> &nbsp- &nbsp<%=sub.Sub%>
                                        </a></li>

                                    <% })%>
                            </ul>
                        </div>

                        <!-- Fillter By Price -->
                        <div class="sidebar-widget price_range range mb-30">
                            <div class="widget-header position-relative mb-20 pb-10" style="display: none;">
                                <h5 class="widget-title mb-10">Fill by price</h5>
                                <div class="bt-1 border-color-1"></div>
                            </div>
                            <div class="price-filter" style="display: none;">
                                <div class="price-filter-inner">
                                    <div id="slider-range"></div>
                                    <div class="price_slider_amount">
                                        <div class="label-input">
                                            <span>Range:</span><input type="text" id="amount" name="price"
                                                placeholder="Add Your Price" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group">
                                <div class="list-group-item mb-10 mt-10">
                                    <form id="filterColor">
                                        <label class="fw-900">Color</label>
                                        <div class="custome-checkbox">
                                            <% color.forEach(function(color,index){%>
                                                <input class="form-check-input" type="checkbox" name="Color"
                                                    id="exampleCheckbox-<%=index%>" value="<%= color.color%>">
                                                <label class="form-check-label" for="exampleCheckbox-<%=index%>"><span>
                                                        <%= color.color%>
                                                            (<%=color.count%>)
                                                    </span></label>
                                                <br>
                                                <%})%>
                                        </div><button type="submit" class="btn btn-sm btn-default"><i
                                                class="fi-rs-filter mr-5"></i> Fillter</button>

                                    </form>
                                    <label class="fw-900 mt-15">POWER TRAIN</label>
                                    <form id="filterPower">

                                        <div class="custome-checkbox">
                                            <% powerTrain.forEach(function(powerTrain, index){%>

                                                <input class="form-check-input" type="checkbox" name="PowerTrain"
                                                    id="exampleCheckbox1-<%=index%>" value="<%=powerTrain.powerTrain%>">
                                                <label class="form-check-label" for="exampleCheckbox1-<%=index%>"><span>
                                                        <%=powerTrain.powerTrain%>
                                                            (<%=powerTrain.count%>)
                                                    </span></label>
                                                <br>
                                                <%})%>
                                        </div> <button type="submit" class="btn btn-sm btn-default"><i
                                                class="fi-rs-filter mr-5"></i> Fillter</button>

                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- Product sidebar Widget -->
                        <div class="sidebar-widget product-sidebar  mb-30 p-30 bg-grey border-radius-10">
                            <div class="widget-header position-relative mb-20 pb-10">
                                <h5 class="widget-title mb-10">New products</h5>
                                <div class="bt-1 border-color-1"></div>
                            </div>
                            <%if(newProducts[0]){%>
                                <div class="single-post clearfix">
                                    <div class="image">
                                        <img src="/public/product/<%= newProducts[0].Images[0] %>" alt="#">
                                    </div>
                                    <div class="content pt-10">
                                        <h5><a href="/viewProduct/<%=newProducts[0]._id %>">
                                                <%= newProducts[0].Name%>
                                            </a></h5>
                                        <span class="fw-bolder" style="color: green;">₹<%=
                                                newProducts[0].DiscountedPrice%>
                                        </span>&nbsp
                                        <% if(newProducts[0].DiscountedPrice !=newProducts[0].Price){%>
                                            <span class="old-price text-decoration-line-through">₹<%=
                                                    newProducts[0].Price%>
                                            </span>
                                            <%}%>
                                                <div class="product-rate" style="display: none;">
                                                    <div class="product-rating" style="width:90%"></div>
                                                </div>
                                    </div>
                                </div>
                                <%}%>
                                    <%if(newProducts[1]){%>
                                        <div class="single-post clearfix">
                                            <div class="image">
                                                <img src="/public/product/<%= newProducts[1].Images[0] %>" alt="#">
                                            </div>
                                            <div class="content pt-10">
                                                <h6><a href="/viewProduct/<%=newProducts[1]._id %>">
                                                        <%= newProducts[1].Name%>
                                                    </a></h6>
                                                <span class="fw-bolder" style="color: green;">₹<%=
                                                        newProducts[1].DiscountedPrice%> </span>&nbsp<%
                                                    if(newProducts[1].DiscountedPrice !=newProducts[1].Price){%>

                                                    <span class="old-price text-decoration-line-through">₹<%=
                                                            newProducts[1].Price%></span>
                                                    <%}%>
                                                        <div class="product-rate" style="display: none;">
                                                            <div class="product-rating" style="width:80%"></div>
                                                        </div>
                                            </div>
                                        </div>
                                        <%}%>
                                            <%if(newProducts[2]){%>
                                                <div class="single-post clearfix" style="display: none;">
                                                    <div class="image">
                                                        <img src="/public/evara/asset/imgs/shop/thumbnail-5.jpg"
                                                            alt="#">
                                                    </div>
                                                    <div class="content pt-10">
                                                        <h6><a href="shop-product-detail.html">Colorful Jacket</a></h6>
                                                        <p class="price mb-0 mt-5">$25</p>
                                                        <div class="product-rate">
                                                            <div class="product-rating" style="width:60%"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <%}%>
                        </div>
                        <div class="banner-img wow fadeIn mb-45 animated  d-none" style="display: none;">
                            <img src="/public/evara/asset/imgs/banner/banner-11.jpg" alt="">
                            <div class="banner-text">
                                <span>Women Zone</span>
                                <h4>Save 17% on <br>Office Dress</h4>
                                <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </main>


        <!-- <%- include('./userParsels/footer.ejs') %> -->

        <script>
            function cartAction(id) {
                axios.get("/add-to-cart/" + id)
                    .then(() => {
                        console.log("/////////////")
                        $('#cart').load('/shop #cart');
                    })
            }
            function wishlistAction(id) {
                console.log("///////////add-to-wish;ist")
                axios.get("/add-to-wishlist/" + id)
                    .then(() => {
                        console.log("/////////////")
                        $('#wishlist').load('/shop #wishlist');
                    })
            }
            function loginSwal() {
                console.log("/////////// need to login")
                swal({
                    title: 'Need to Login',
                    text: 'Please login to continue.',
                    buttons: {
                        cancel: 'Cancel',
                        login: {
                            text: 'Login',
                            value: 'login',
                        }
                    },
                }).then((value) => {
                    if (value === 'login') {
                        window.location.href = '/login';
                    }
                });

            }

        </script>