<%- include('./userParsels/head.ejs') %>
    <%- include('./userParsels/header.ejs') %>


        <section class="marginTop" class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <% if(wishlistCount==0){%>
                                <div class="text-center">
                                    <p style="font-size: x-large; margin-bottom: 3em;">your wishlist is empty..!</p>
                                </div>
                                <%}else{%>

                                    <table class="table shopping-summery text-center">
                                        <thead>
                                            <tr class="main-heading">
                                                <th scope="col" colspan="2">Product</th>
                                                <th scope="col">Price</th>
                                                <th scope="col">Stock Status</th>
                                                <th scope="col">Action</th>
                                                <th scope="col">Remove</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% wishlist.forEach(function(wishlist) { %>

                                                <tr>
                                                    <td class="image product-thumbnail"><img
                                                            src="/public/product/<%= wishlist.ProductId.Images[0] %>"
                                                            alt="#"></td>
                                                    <td class="product-des product-name">
                                                        <h5 class="product-name"><a href="shop-product-right.html">
                                                                <%= wishlist.ProductId.Name %>
                                                            </a></h5>
                                                        <p class="font-xs">
                                                            <%= wishlist.ProductId.Manufacturer %><br>
                                                                <%= wishlist.ProductId.PowerTrain %>
                                                        </p>
                                                    </td>
                                                    <td class="price" data-title="Price"><span>₹<%=
                                                                wishlist.ProductId.Price %> </span></td>
                                                    <td class="text-center" data-title="Stock"><span class="color3 font-weight-bold"><% if (wishlist.ProductId.isListed && (wishlist.ProductId.Stock > 0)){%>
                                                        In Stock<%}else{%>Unavailable<%}%></span>
                                                    </td>
                                                    <td class="text-right"
                                                        id="ProductInCart-<%=wishlist.ProductId._id %>"
                                                        data-title="Cart">
                                                        <% if (cartMap &&
                                                            cartMap.includes(wishlist.ProductId._id.toString())) { %>
                                                            <div class="form__input text-left">
                                                                <p class="pb-0 mb-0 ">
                                                                    Product in Cart
                                                                </p>
                                                            </div>
                                                            <%}else{%>
                                                                <button class="btn btn-sm"
                                                                    onclick="cartAction('<%=wishlist.ProductId._id %>')"><i
                                                                        class="fi-rs-shopping-bag mr-5"></i>Add to
                                                                    cart</button>
                                                                <%}%>
                                                    </td>
                                                    <td class="action" data-title="Remove"><a
                                                            href="/removeWishlist/<%=wishlist.ProductId._id %>"><i
                                                                class="fi-rs-trash"></i></a></td>
                                                </tr>
                                                <%})%>

                                        </tbody>
                                    </table>
                                    <%}%>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </main>
        <!-- Preloader Start -->
        <div id="preloader-active">
            <div class="preloader d-flex align-items-center justify-content-center">
                <div class="preloader-inner position-relative">
                    <div class="text-center">
                        <h5 class="mb-5">Now Loading</h5>
                        <div class="loader">
                            <div class="bar bar1"></div>
                            <div class="bar bar2"></div>
                            <div class="bar bar3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Vendor JS-->
        <%- include('./userParsels/footer.ejs') %>

            <script>
                function cartAction(id) {
                    axios.get("/add-to-cart/" + id)
                        .then(() => {
                            console.log("/////////////")
                            $('#cart').load('/wishlist #cart');
                            $(`#ProductInCart-${id}`).load(`/wishlist #ProductInCart-${id}`);
                        })
                }


            </script>
            <!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-wishlist.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:04 GMT -->

            </html>